<script type="text/javascript">alert("home");</script>
<div class="container">
                           <div class="row">
                              <div class="span12" data-motopress-wrapper-file="page-home.php" data-motopress-wrapper-type="content">
                                 <div class="row">
                                    <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-slider.php">
                                       <div id="slider-wrapper" class="slider">
                                          <div class="container">
                                             <script type="text/javascript">
                                                //    jQuery(window).load(function() {
                                                		jQuery(function() {
                                                			var myCamera = jQuery('#camera591d7400012c9');
                                                			if (!myCamera.hasClass('motopress-camera')) {
                                                				myCamera.addClass('motopress-camera');
                                                				myCamera.camera({
                                                					autoAdvance         : true, //true, false
                                                					mobileAutoAdvance   : true, //true, false. Auto-advancing for mobile devices
                                                					cols                : 12,
                                                					fx                  : "simpleFade", //'random','simpleFade', 'curtainTopLeft', 'curtainTopRight', 'curtainBottomLeft',          'curtainBottomRight', 'curtainSliceLeft', 'curtainSliceRight', 'blindCurtainTopLeft', 'blindCurtainTopRight', 'blindCurtainBottomLeft', 'blindCurtainBottomRight', 'blindCurtainSliceBottom', 'blindCurtainSliceTop', 'stampede', 'mosaic', 'mosaicReverse', 'mosaicRandom', 'mosaicSpiral', 'mosaicSpiralReverse', 'topLeftBottomRight', 'bottomRightTopLeft', 'bottomLeftTopRight', 'bottomLeftTopRight'
                                                					loader              : "no", //pie, bar, none (even if you choose "pie", old browsers like IE8- can't display it... they will display always a loading bar)
                                                					navigation          : false, //true or false, to display or not the navigation buttons
                                                					navigationHover     : false, //if true the navigation button (prev, next and play/stop buttons) will be visible on hover state only, if false they will be visible always
                                                					pagination          : false,
                                                					playPause           : false, //true or false, to display or not the play/pause buttons
                                                					rows                : 8,
                                                					slicedCols          : 12,
                                                					slicedRows          : 8,
                                                					thumbnails          : true,
                                                					time                : 7000, //milliseconds between the end of the sliding effect and the start of the next one
                                                					transPeriod         : 1500, //lenght of the sliding effect in milliseconds
                                                
                                                					alignment : 'topCenter',
                                                barDirection : 'leftToRight',
                                                barPosition : 'top',
                                                easing : 'easeOutQuad',
                                                mobileEasing : '',
                                                mobileFx : '',
                                                gridDifference : 250,
                                                imagePath : 'images/',
                                                minHeight : '100px',
                                                height : '36.41%',
                                                loaderColor : '#ffffff',
                                                loaderBgColor : '#eb8a7c',
                                                loaderOpacity : 1,
                                                loaderPadding : 0,
                                                loaderStroke : 3,
                                                pieDiameter : 33,
                                                piePosition : 'rightTop',
                                                portrait : true,
                                                					////////callbacks
                                                					onEndTransition     : function(){}, //this callback is invoked when the transition effect ends
                                                					onLoaded            : function(){}, //this callback is invoked when the image on a slide has completely loaded
                                                					onStartLoading      : function(){}, //this callback is invoked when the image on a slide start loading
                                                					onStartTransition   : function(){} //this callback is invoked when the transition effect starts
                                                				});
                                                			}
                                                		});
                                                //    });
                                             </script>
                                             <div id="camera591d7400012c9" class="camera_wrap camera">
                                                <div data-src='ecom/lolitas/uploads/2011/07/slide.jpg' data-link='product/product-7' data-thumb='ecom/lolitas/uploads/2011/07/slide-168x60.jpg'>
                                                   <div class="camera_caption fadeIn">
                                                      <h2>Essential Body Care Set</h2>
                                                      <p>Pamper and indulge your senses with this best-selling 
                                                         bath and body care essentials to keep your skin cleansed, 
                                                         nourished and rejuvenated. 
                                                      </p>
                                                      <span>from <strong>$40.00</strong></span>
                                                      <a href="product/product-7">details</a>					
                                                   </div>
                                                </div>
                                                <div data-src='ecom/lolitas/uploads/2011/07/slide_1.jpg' data-link='product/product-12' data-thumb='ecom/lolitas/uploads/2011/07/slide_1-168x60.jpg'>
                                                   <div class="camera_caption fadeIn">
                                                      <h2>Bodhi Love Reviving Gift Set</h2>
                                                      <p>A beautiful gift duo of Rosemary 
                                                         Chi Reviving bath & shower therapy and travel-size 
                                                         reviving body moisturiser. 
                                                      </p>
                                                      <span>from <strong>$50.00</strong></span>
                                                      <a href="product/product-12">details</a>					
                                                   </div>
                                                </div>
                                                <div data-src='ecom/lolitas/uploads/2011/07/slide_2.jpg' data-link='product/product-11' data-thumb='ecom/lolitas/uploads/2011/07/slide_2-168x60.jpg'>
                                                   <div class="camera_caption fadeIn">
                                                      <h2>Super Spa Toning Duo</h2>
                                                      <p>The perfect spa-inspired treat for those
                                                         who love super natural, high performance 
                                                         skincare with exquisite bespoke essential oil blends. 
                                                      </p>
                                                      <span>from <strong>$25.00</strong></span>
                                                      <a href="product/product-11">details</a>					
                                                   </div>
                                                </div>
                                                <div data-src='ecom/lolitas/uploads/2011/07/slide_3.jpg' data-link='product/product-10' data-thumb='ecom/lolitas/uploads/2011/07/slide_3-168x60.jpg'>
                                                   <div class="camera_caption fadeIn">
                                                      <h2>Perfect Ten Palette</h2>
                                                      <p>A luxurious makeup collection with bareMinerals 
                                                         10 most-wanted shades in one sleek, chic 
                                                         travel clutch to instantly elevate your makep wardrobe. 
                                                      </p>
                                                      <span>from <strong>$55.00</strong></span>
                                                      <a href="product/product-10">details</a>					
                                                   </div>
                                                </div>
                                                <div data-src='ecom/lolitas/uploads/2011/07/slide_4.jpg' data-link='product/product-9' data-thumb='ecom/lolitas/uploads/2011/07/slide_4-168x60.jpg'>
                                                   <div class="camera_caption fadeIn">
                                                      <h2>Wild Cow Invigorating Trio </h2>
                                                      <p>A trio to awaken and revive your skin senses, 
                                                         with an energetic infusion of refreshing Lemongrass, 
                                                         bracing Ginger and awakening Rosemary. 
                                                      </p>
                                                      <span>from <strong>$30.00</strong></span>
                                                      <a href="product/product-9">details</a>					
                                                   </div>
                                                </div>
                                                <div data-src='ecom/lolitas/uploads/2014/04/slide_5.jpg' data-link='product/product-8' data-thumb='ecom/lolitas/uploads/2014/04/slide_5-168x60.jpg'>
                                                   <div class="camera_caption fadeIn">
                                                      <h2>Mini Body Oils Gift Set</h2>
                                                      <p>A special pack of five precious body 
                                                         oils to pamper, refresh and rejuvenate all 
                                                         skin types after bath or shower. 
                                                      </p>
                                                      <span>from <strong>$15.00</strong></span>
                                                      <a href="product/product-8">details</a>					
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- .slider -->
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
                                       <div id="post-203" class="post-203 page type-page status-publish hentry page">
                                          <div class="row">
                                             <div class="span3">
                                                <div class="custom_list_categories">
                                                   <div class="custom_list_categories_wrap_inner">
                                                      <h2>Categorias</h2>
                                                      <ul class='advanced_categories cols_1'>
                                                         <li class='advanced_categories_item last' ng-repeat="categoria in main.categorias">
                                                            <div class='advanced_categories_item_inner'>
                                                               <h4><a href='#!/categoria/{{categoria.url}}'>{{categoria.name}}</a></h4>
                                                            </div>
                                                         </li>
                                                         
                                                      </ul>
                                                   </div>
                                                </div>
                                                <div class="custom_post">
                                                   <div class="custom_post_wrap_inner">
                                                      <h2>Novidades</h2>
                                                      <ul class="posts-grid row-fluid unstyled ">
                                                         <li class="span12">
                                                            <div class="post_meta">
                                                               <span class="post_date"><time datetime="2013-03-14T20:28:57">March 14, 2013</time></span>
                                                               <figure class="featured-thumbnail thumbnail"><a href="ecom/lolitas/uploads/2012/06/bigstock_Portrait_of_a_cute_lady_12127901.jpg" title="Mauris posuere" rel="prettyPhoto-1753708802"><img  src="ecom/lolitas/uploads/2012/06/bigstock_Portrait_of_a_cute_lady_12127901-270x161.jpg" alt="Mauris posuere" /><span class="zoom-icon"></span></a></figure>
                                                               <div class="clear"></div>
                                                               <h5><a href="ecom/lolitas/uncategorized/mauris-posuere/" title="Mauris posuere">Mauris posuere</a></h5>
                                                               <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris sollicitudin dignissim. Phasellus ultrices tellus eget ipsum ornare molestie... </p>
                                                               <a href="ecom/lolitas/uncategorized/mauris-posuere/" class="btn btn-primary" title="Mauris posuere">read more</a><span class="post_comment"><a href="ecom/lolitas/uncategorized/mauris-posuere/" class="comments_link">0 Comments</a></span>
                                                            </div>
                                                         </li>
                                                      </ul>
                                                      <!-- .posts-grid (end) -->
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="span9">
                                                <div class="featured_products">
                                                   <div class="featured_products_wrap_inner">
                                                      <h2>Promoções</h2>
                                                      <div class="woocommerce columns-3">
                                                         <ul class="products">
                                                            <li class="post-1958 product type-product status-publish first featured shipping-taxable purchasable product-type-simple product-cat-blemish-control product-cat-cleansers product-cat-deodorant product-cat-exfoliants product-cat-exfoliators-scrubs product-tag-etiam-dictum product-tag-mauris-posuere product-tag-vel-mauris instock">
                                                               <a href="ecom/lolitas/product/product-15/">
                                                                  <div class="product-link-wrap">
                                                                     <img width="268" height="198" src="ecom/lolitas/uploads/2013/09/bobbi_brown_the_tailored_collection_2-268x198.png" class="attachment-shop_catalog wp-post-image" alt="bobbi_brown_the_tailored_collection_2" />
                                                                     <h3>Bobbi brown the tailored... </h3>
                                                                  </div>
                                                               </a>
                                                               <div class='prod-inner-wrap'>
                                                                  <div class="short_desc">
                                                                     Our company advocates the postulate that the health as the biggest value in our lives.		
                                                                  </div>
                                                                  <span class="price"><span class="amount">&#36;95.00</span></span>
                                                                  <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div>
                                                                  <a href="/woocommerce_49014/?add-to-cart=1958" rel="nofollow" data-product_id="1958" data-product_sku="" class="button add_to_cart_button product_type_simple">Add to cart</a><a href='ecom/lolitas/product/product-15/' class='btn'>Details</a>
                                                               </div>
                                                            </li>
                                                            <li class="post-1954 product type-product status-publish sale featured shipping-taxable purchasable product-type-simple product-cat-hair-care product-cat-lip-care product-cat-makeup product-cat-serums product-cat-skin-care product-cat-toners product-cat-trial-and-travel-sets product-tag-sed-blandit-massa product-tag-vel-mauris instock">
                                                               <a href="ecom/lolitas/product/product-14/">
                                                                  <div class="product-link-wrap">
                                                                     <span class="onsale">oferta!</span>
                                                                     <img width="268" height="198" src="ecom/lolitas/uploads/2013/09/yves_saint_laurent_manicure_couture_in_5_favourite_chic_2-268x198.png" class="attachment-shop_catalog wp-post-image" alt="yves_saint_laurent_manicure_couture_in_5_favourite_chic_2" />
                                                                     <h3>Yves saint laurent manicu</h3>
                                                                  </div>
                                                               </a>
                                                               <div class='prod-inner-wrap'>
                                                                  <div class="short_desc">
                                                                     Our company advocates the postulate that the health as the biggest value in our lives.		
                                                                  </div>
                                                                  <span class="price"><del><span class="amount">&#36;75.00</span></del> <ins><span class="amount">&#36;70.00</span></ins></span>
                                                                  <div class="star-rating" title="Rated 4.50 out of 5"><span style="width:90%"><strong class="rating">4.50</strong> out of 5</span></div>
                                                                  <a href="/woocommerce_49014/?add-to-cart=1954" rel="nofollow" data-product_id="1954" data-product_sku="" class="button add_to_cart_button product_type_simple">Add to cart</a><a href='ecom/lolitas/product/product-14/' class='btn'>Details</a>
                                                               </div>
                                                            </li>
                                                            <li class="post-1950 product type-product status-publish last featured shipping-taxable purchasable product-type-simple product-cat-bath-body product-cat-body-moisturizers product-cat-deodorant product-cat-exfoliators-scrubs product-cat-hair-care product-tag-etiam-dictum product-tag-mauris-posuere product-tag-sed-blandit-massa product-tag-vel-mauris instock">
                                                               <a href="ecom/lolitas/product/product-13/">
                                                                  <div class="product-link-wrap">
                                                                     <img width="268" height="198" src="ecom/lolitas/uploads/2013/09/dg_smooth_eye_colour_duo_2-268x198.png" class="attachment-shop_catalog wp-post-image" alt="d&amp;g_smooth_eye_colour_duo_2" />
                                                                     <h3>D&#038;G smooth eye colour... </h3>
                                                                  </div>
                                                               </a>
                                                               <div class='prod-inner-wrap'>
                                                                  <div class="short_desc">
                                                                     Our company advocates the postulate that the health as the biggest value in our lives.		
                                                                  </div>
                                                                  <span class="price"><span class="amount">&#36;100.00</span></span>
                                                                  <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div>
                                                                  <a href="/woocommerce_49014/?add-to-cart=1950" rel="nofollow" data-product_id="1950" data-product_sku="" class="button add_to_cart_button product_type_simple">Add to cart</a><a href='ecom/lolitas/product/product-13/' class='btn'>Details</a>
                                                               </div>
                                                            </li>
                                                            <li class="post-1946 product type-product status-publish first featured shipping-taxable purchasable product-type-simple product-cat-bath-body product-cat-cleansers product-cat-deodorant product-cat-face-oils product-cat-hair-care product-cat-lip-care product-cat-makeup product-cat-night-treatments product-cat-serums product-tag-lorem-ipsum product-tag-sed-blandit-massa product-tag-vel-mauris instock">
                                                               <a href="ecom/lolitas/product/product-12/">
                                                                  <div class="product-link-wrap">
                                                                     <img width="268" height="198" src="ecom/lolitas/uploads/2013/09/stem_cellular_repair_moisturizer_1-268x198.png" class="attachment-shop_catalog wp-post-image" alt="stem_cellular_repair_moisturizer_1" />
                                                                     <h3>Stem cellular repair moistu</h3>
                                                                  </div>
                                                               </a>
                                                               <div class='prod-inner-wrap'>
                                                                  <div class="short_desc">
                                                                     Our company advocates the postulate that the health as the biggest value in our lives.		
                                                                  </div>
                                                                  <span class="price"><span class="amount">&#36;120.00</span></span>
                                                                  <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
                                                                  <a href="/woocommerce_49014/?add-to-cart=1946" rel="nofollow" data-product_id="1946" data-product_sku="" class="button add_to_cart_button product_type_simple">Add to cart</a><a href='ecom/lolitas/product/product-12/' class='btn'>Details</a>
                                                               </div>
                                                            </li>
                                                            <li class="post-1942 product type-product status-publish sale featured shipping-taxable purchasable product-type-simple product-cat-bath-body product-cat-blemish-control product-cat-body-moisturizers product-cat-cleansers product-cat-deodorant product-cat-exfoliants product-cat-exfoliators-scrubs product-cat-face-oils product-cat-hair-care product-cat-lip-care product-cat-makeup product-cat-makeup-removers product-cat-moisturizers product-cat-night-treatments product-cat-serums product-cat-skin-care product-cat-toners product-cat-trial-and-travel-sets product-tag-etiam-dictum product-tag-mauris-posuere product-tag-sed-blandit-massa product-tag-vel-mauris instock">
                                                               <a href="ecom/lolitas/product/product-11/">
                                                                  <div class="product-link-wrap">
                                                                     <span class="onsale">Sale!</span>
                                                                     <img width="268" height="198" src="ecom/lolitas/uploads/2013/09/yves_saint_laurent_creme_de_blush_in_3_silky_praline_1-268x198.png" class="attachment-shop_catalog wp-post-image" alt="yves_saint_laurent_creme_de_blush_in_3_silky_praline_1" />
                                                                     <h3>Yves saint laurent creme... </h3>
                                                                  </div>
                                                               </a>
                                                               <div class='prod-inner-wrap'>
                                                                  <div class="short_desc">
                                                                     Our company advocates the postulate that the health as the biggest value in our lives.		
                                                                  </div>
                                                                  <span class="price"><del><span class="amount">&#36;94.50</span></del> <ins><span class="amount">&#36;80.00</span></ins></span>
                                                                  <a href="/woocommerce_49014/?add-to-cart=1942" rel="nofollow" data-product_id="1942" data-product_sku="" class="button add_to_cart_button product_type_simple">Add to cart</a><a href='ecom/lolitas/product/product-11/' class='btn'>Details</a>
                                                               </div>
                                                            </li>
                                                            <li class="post-1938 product type-product status-publish last featured shipping-taxable purchasable product-type-simple product-cat-exfoliators-scrubs product-cat-lip-care product-cat-makeup product-cat-makeup-removers product-cat-moisturizers product-tag-sed-blandit-massa product-tag-vel-mauris instock">
                                                               <a href="ecom/lolitas/product/product-10/">
                                                                  <div class="product-link-wrap">
                                                                     <img width="268" height="198" src="ecom/lolitas/uploads/2013/09/illamasqua_nail_varnish_3-268x198.png" class="attachment-shop_catalog wp-post-image" alt="illamasqua_nail_varnish_3" />
                                                                     <h3>Illamasqua nail varnish</h3>
                                                                  </div>
                                                               </a>
                                                               <div class='prod-inner-wrap'>
                                                                  <div class="short_desc">
                                                                     Our company advocates the postulate that the health as the biggest value in our lives.		
                                                                  </div>
                                                                  <span class="price"><span class="amount">&#36;104.00</span></span>
                                                                  <a href="/woocommerce_49014/?add-to-cart=1938" rel="nofollow" data-product_id="1938" data-product_sku="" class="button add_to_cart_button product_type_simple">Add to cart</a><a href='ecom/lolitas/product/product-10/' class='btn'>Details</a>
                                                               </div>
                                                            </li>
                                                            <li class="post-1934 product type-product status-publish first featured shipping-taxable purchasable product-type-simple product-cat-bath-body product-cat-body-moisturizers product-cat-moisturizers product-cat-night-treatments product-cat-toners product-cat-trial-and-travel-sets product-tag-lorem-ipsum instock">
                                                               <a href="ecom/lolitas/product/product-9/">
                                                                  <div class="product-link-wrap">
                                                                     <img width="268" height="198" src="ecom/lolitas/uploads/2013/09/bobbi_brown_soothing_balm_1-268x198.png" class="attachment-shop_catalog wp-post-image" alt="bobbi_brown_soothing_balm_1" />
                                                                     <h3>Bobbi brown soothing balm</h3>
                                                                  </div>
                                                               </a>
                                                               <div class='prod-inner-wrap'>
                                                                  <div class="short_desc">
                                                                     Our company advocates the postulate that the health as the biggest value in our lives.		
                                                                  </div>
                                                                  <span class="price"><span class="amount">&#36;85.00</span></span>
                                                                  <div class="star-rating" title="Rated 4.50 out of 5"><span style="width:90%"><strong class="rating">4.50</strong> out of 5</span></div>
                                                                  <a href="/woocommerce_49014/?add-to-cart=1934" rel="nofollow" data-product_id="1934" data-product_sku="" class="button add_to_cart_button product_type_simple">Add to cart</a><a href='ecom/lolitas/product/product-9/' class='btn'>Details</a>
                                                               </div>
                                                            </li>
                                                            <li class="post-1930 product type-product status-publish featured shipping-taxable purchasable product-type-simple product-cat-blemish-control product-cat-body-moisturizers product-cat-deodorant product-cat-hair-care product-cat-makeup product-cat-makeup-removers product-cat-moisturizers product-cat-night-treatments product-tag-lorem-ipsum product-tag-sed-blandit-massa product-tag-vel-mauris instock">
                                                               <a href="ecom/lolitas/product/product-8/">
                                                                  <div class="product-link-wrap">
                                                                     <img width="268" height="198" src="ecom/lolitas/uploads/2013/09/bobbi_brown_metallic_long-wear_cream_shadow_in_mercury_2-268x198.png" class="attachment-shop_catalog wp-post-image" alt="bobbi_brown_metallic_long-wear_cream_shadow_in_mercury_2" />
                                                                     <h3>Bobbi Brown metallic long-wear... </h3>
                                                                  </div>
                                                               </a>
                                                               <div class='prod-inner-wrap'>
                                                                  <div class="short_desc">
                                                                     Our company advocates the postulate that the health as the biggest value in our lives.		
                                                                  </div>
                                                                  <span class="price"><span class="amount">&#36;99.50</span></span>
                                                                  <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div>
                                                                  <a href="/woocommerce_49014/?add-to-cart=1930" rel="nofollow" data-product_id="1930" data-product_sku="" class="button add_to_cart_button product_type_simple">Add to cart</a><a href='ecom/lolitas/product/product-8/' class='btn'>Details</a>
                                                               </div>
                                                            </li>
                                                            <li class="post-1926 product type-product status-publish last sale featured shipping-taxable purchasable product-type-simple product-cat-body-moisturizers product-cat-hair-care product-tag-lorem-ipsum product-tag-sed-blandit-massa product-tag-vel-mauris instock">
                                                               <a href="ecom/lolitas/product/product-7/">
                                                                  <div class="product-link-wrap">
                                                                     <span class="onsale">Sale!</span>
                                                                     <img width="268" height="198" src="ecom/lolitas/uploads/2013/09/sunrise_organic_mineral_makeup_1-268x198.png" class="attachment-shop_catalog wp-post-image" alt="sunrise_organic_mineral_makeup_1" />
                                                                     <h3>Sunrise organic mineral makeup</h3>
                                                                  </div>
                                                               </a>
                                                               <div class='prod-inner-wrap'>
                                                                  <div class="short_desc">
                                                                     Our company advocates the postulate that the health as the biggest value in our lives.		
                                                                  </div>
                                                                  <span class="price"><del><span class="amount">&#36;114.00</span></del> <ins><span class="amount">&#36;100.00</span></ins></span>
                                                                  <a href="/woocommerce_49014/?add-to-cart=1926" rel="nofollow" data-product_id="1926" data-product_sku="" class="button add_to_cart_button product_type_simple">Add to cart</a><a href='ecom/lolitas/product/product-7/' class='btn'>Details</a>
                                                               </div>
                                                            </li>
                                                         </ul>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- .row (end) -->
                                          <div class="clear"></div>
                                          <!--.pagination-->
                                       </div>
                                       <!--#post-->
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>